a.list-group-item:before {
content: '';
}

.list-group-item {
margin-left: 0px;
padding-left: 15px;
}

.js-pscroll {
    position: relative;
    overflow: hidden;
}

.bootcards-list .list-group-item {
    cursor: pointer;
}

.bootcards-list .list-group-item:hover {
    background-color: rgb(235, 235, 235);

}

.list-group-item .row > div.col-sm-5 {
margin-left: 10px;
}

.list-group-item .row > div.col-sm-6 {
margin-left: -10px;
}

.panel-title {
margin-top: 13px;
margin-right: 7px;
}

.list-group-item-heading,
.list-group-item-text {
padding-left: 3px;
}

.form-inline {
padding-right: 1.1em;
}

.form-inline .btn-primary {
margin-top: 0.5em;
}

@media only screen and (min-width: 768px) {
.form-inline {
    padding-right: 0;
    }

.form-inline .btn-primary {
    margin-top: 0;
    margin-left: 2em;
}
}

@media only screen and (max-width: 767px) {
.list-group-item .row > div.col-sm-5 {
    margin-left: 0px;
    padding-left: 5px;
}
.list-group-item-heading {
    margin-top: 3px;
}
}

@media (max-width: 250px) {
#search {
    padding-left: 10px;
}
}

/* Checkboxes  */

.inputGroup {
background-color: #fff;
display: block;
margin: 10px 0;
position: relative;
}
.inputGroup label {
padding: 12px 30px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}
.inputGroup label:before {
width: 10px;
height: 10px;
border-radius: 50%;
content: "";
background-color: #5562eb;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale3d(1, 1, 1);
transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
z-index: -1;
}
.inputGroup label:after {
width: 32px;
height: 32px;
content: "";
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
color: #fff;
}
.inputGroup input:checked ~ label:before {
transform: translate(-50%, -50%) scale3d(56, 56, 1);
opacity: 1;
}
.inputGroup input:checked ~ label:after {
background-color: #54E0C7;
border-color: #54E0C7;
}
.inputGroup input {
width: 32px;
height: 32px;
order: 1;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
visibility: hidden;
}

/* Confirmed chekboxes */

.inputGroupConfi {
background-color: #fff;
display: block;
margin: 10px 0;
position: relative;
}
.inputGroupConfi label {
padding: 12px 30px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}
.inputGroupConfi label:before {
width: 10px;
height: 10px;
border-radius: 50%;
content: "";
background-color: #dc3545 !important;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale3d(1, 1, 1);
transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
z-index: -1;
}
.inputGroupConfi label:after {
width: 32px;
height: 32px;
content: "";
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroupConfi input:checked ~ label {
color: #fff;
}
.inputGroupConfi input:checked ~ label:before {
transform: translate(-50%, -50%) scale3d(56, 56, 1);
opacity: 1;
}
.inputGroupConfi input:checked ~ label:after {
background-color: #9c0c1a !important;
border-color: #9c0c1a;
}
.inputGroupConfi input {
width: 32px;
height: 32px;
order: 1;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
visibility: hidden;
}

/* Confirmed chekboxes par le meme pharmacie */

.inputGroupConfiM {
background-color: #fff;
display: block;
margin: 10px 0;
position: relative;
}
.inputGroupConfiM label {
padding: 12px 30px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}
.inputGroupConfiM label:before {
width: 10px;
height: 10px;
border-radius: 50%;
content: "";
background-color: #2fc078 !important;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale3d(1, 1, 1);
transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
z-index: -1;
}
.inputGroupConfiM label:after {
width: 32px;
height: 32px;
content: "";
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroupConfiM input:checked ~ label {
color: #fff;
}
.inputGroupConfiM input:checked ~ label:before {
transform: translate(-50%, -50%) scale3d(56, 56, 1);
opacity: 1;
}
.inputGroupConfiM input:checked ~ label:after {
background-color: #0c9c59 !important;
border-color: #0c9c59;
}
.inputGroupConfiM input {
width: 32px;
height: 32px;
order: 1;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
visibility: hidden;
}
